In [1]:
%matplotlib inline
import pandas as pd

## Outline

We have two purposes today. First, we'll show you how easy it is to calculate various statistics for your datasets. With `pandas` you wield a great deal of power to manipulate variables and instances into whatever form and shape you wish. 

Then we'll show you how easy it is to mislead with numbers. Not that we suspect you would want to do that on purpose. Unfortunately the easiest person to fool is yourself. 

While making technically correct calculations is easier than ever with `pandas`, the hard part is ensuring that the quantities you chose to highlight are actually meaningful and appropriate for the data.

### Making comparisons

Arguable the aim of modern science is to make comparisons. Scientists are for instance interested in

- which of two competing drugs work better; or
- whether a drug is more effective than placebo;
- if a food supplement has any of the claimed health benefits;
- if their newly developed sentiment analysis algorithm is actually better than a baseline

### Grouping

### Merging operations

In [74]:
prize_winners_age = pd.read_csv("nobel_prize_winners_age.csv", sep=";")
prize_winners_age['last_name'] = [name.strip().split(", ")[0] for name in prize_winners_age['name']]
prize_winners_age.head()

,name,field,year_birth,year_prize,year_research_mid,year_death,TheoryOrTheoryAndEmpirical,age_highdegree,last_name
0,"Van'T Hoff, Jacobus Henricus",Chemistry,1852,1901,1885,1911,1,22,Van'T Hoff
1,"Fischer, Hermann Emil",Chemistry,1852,1902,1895,1919,0,22,Fischer
2,"Arrhenius, Svante August",Chemistry,1859,1903,1884,1927,1,25,Arrhenius
3,"Ramsay, Sir William",Chemistry,1852,1904,1894,1916,0,20,Ramsay
4,"Von Baeyer, Johann",Chemistry,1835,1905,1873,1917,0,23,Von Baeyer

In [75]:
prize_winners_gender = pd.read_csv("nobel_prize_winners.tsv", sep="\t")
prize_winners_gender['last_name'] = [name.strip().split(" ")[-1] for name in prize_winners_gender['Name']]
prize_winners_gender.head()

   Year     Domain                      Name Nationality Gender     last_name
0  2009    Physics            Charles K. Kao       China   Male           Kao
1  2009    Physics          Willard S. Boyle         USA   Male         Boyle
2  2009    Physics           George E. Smith         USA   Male         Smith
3  2009  Chemistry  Venkatraman Ramakrishnan          UK   Male  Ramakrishnan
4  2009  Chemistry          Thomas A. Steitz         USA   Male        Steitz

In [76]:
prize_winners = prize_winners_age.merge(right=prize_winners_gender, how='inner',  
                                        left_on=['year_prize', 'field', 'last_name'], 
                                        right_on=['Year', 'Domain', 'last_name'])
prize_winners.head()

,name,field,year_birth,year_prize,year_research_mid,year_death,TheoryOrTheoryAndEmpirical,age_highdegree,last_name,Year,Domain,Name,Nationality,Gender
0,"Fischer, Hermann Emil",Chemistry,1852,1902,1895,1919,0,22,Fischer,1902,Chemistry,Emil Fischer,Germany,Male
1,"Arrhenius, Svante August",Chemistry,1859,1903,1884,1927,1,25,Arrhenius,1903,Chemistry,Svante Arrhenius,Sweden,Male
2,"Ramsay, Sir William",Chemistry,1852,1904,1894,1916,0,20,Ramsay,1904,Chemistry,Sir William Ramsay,UK,Male
3,"Moissan, Henri",Chemistry,1852,1906,1898,1907,0,28,Moissan,1906,Chemistry,Henri Moissan,France,Male
4,"Buchner, Eduard",Chemistry,1860,1907,1897,1917,0,28,Buchner,1907,Chemistry,Eduard Buchner,Germany,Male

In [77]:
prize_winners = prize_winners.drop(['name', 'Domain', 'Year', 'last_name', 'TheoryOrTheoryAndEmpirical'], axis=1)
prize_winners.columns = [name.lower() for name in prize_winners.columns]
prize_winners.head()

,field,year_birth,year_prize,year_research_mid,year_death,age_highdegree,name,nationality,gender
0,Chemistry,1852,1902,1895,1919,22,Emil Fischer,Germany,Male
1,Chemistry,1859,1903,1884,1927,25,Svante Arrhenius,Sweden,Male
2,Chemistry,1852,1904,1894,1916,20,Sir William Ramsay,UK,Male
3,Chemistry,1852,1906,1898,1907,28,Henri Moissan,France,Male
4,Chemistry,1860,1907,1897,1917,28,Eduard Buchner,Germany,Male

In [78]:
prize_winners['age_death'] = prize_winners['year_death'] - prize_winners['year_birth']
prize_winners['age_prize'] = prize_winners['year_prize'] - prize_winners['year_birth']
prize_winners['age_research_mid'] = prize_winners['year_research_mid'] - prize_winners['year_birth']
prize_winners['degree_to_prize'] = prize_winners['age_prize'] - prize_winners['age_highdegree']
prize_winners['research_mid_to_prize'] = prize_winners['age_prize'] - prize_winners['age_research_mid']
prize_winners

,field,year_birth,year_prize,year_research_mid,year_death,age_highdegree,name,nationality,gender,age_death,age_prize,age_research_mid,degree_to_prize,research_mid_to_prize
0,Chemistry,1852,1902,1895,1919,22,Emil Fischer,Germany,Male,67,50,43,28,7
1,Chemistry,1859,1903,1884,1927,25,Svante Arrhenius,Sweden,Male,68,44,25,19,19
2,Chemistry,1852,1904,1894,1916,20,Sir William Ramsay,UK,Male,64,52,42,32,10
3,Chemistry,1852,1906,1898,1907,28,Henri Moissan,France,Male,55,54,46,26,8
4,Chemistry,1860,1907,1897,1917,28,Eduard Buchner,Germany,Male,57,47,37,19,10
5,Chemistry,1871,1908,1902,1937,23,Ernest Rutherford,"UK, New Zealand",Male,66,37,31,14,6
6,Chemistry,1853,1909,1894,1932,25,Wilhelm Ostwald,Germany,Male,79,56,41,31,15
7,Chemistry,1847,1910,1884,1931,22,Otto Wallach,Germany,Male,84,63,37,41,26
8,Chemistry,1867,1911,1910,1934,36,Marie Curie,France,Female,67,44,43,8,1
9,Chemistry,1871,1912,1900,1935,30,Victor Grignard,France,Male,64,41,29,11,12
10,Chemistry,1854,1912,1897,1941,26,Paul Sabatier,France,Male,87,58,43,32,15
11,Chemistry,1866,1913,1892,1919,24,Alfred Werner,Switzerland,Male,53,47,26,23,21
12,Chemistry,1868,1914,1900,1928,20,Theodore W. Richards,USA,Male,60,46,32,26,14
13,Chemistry,1872,1915,1913,1942,22,Richard Willstatter,Germany,Male,70,43,41,21,2
14,Chemistry,1868,1918,1905,1934,28,Fritz Haber,Germany,Male,66,50,37,22,13
15,Chemistry,1864,1920,1906,1941,23,Walther Nernst,Germany,Male,77,56,42,33,14
16,Chemistry,1877,1921,1909,1956,21,Frederick Soddy,UK,Male,79,44,32,23,12
17,Chemistry,1877,1922,1919,1945,19,Francis W. Aston,UK,Male,68,45,42,26,3
18,Chemistry,1869,1923,1911,1930,25,Fritz Pregl,Austria,Male,61,54,42,29,12
19,Chemistry,1865,1925,1903,1929,26,Richard Zsigmondy,Germany,Male,64,60,38,34,22
20,Chemistry,1884,1926,1913,1971,24,The Svedberg,Sweden,Male,87,42,29,18,13
21,Chemistry,1877,1927,1932,1957,24,Heinrich Wieland,Germany,Male,80,50,55,26,-5
22,Chemistry,1876,1928,1919,1958,24,Adolf Windaus,Germany,Male,82,52,43,28,9
23,Chemistry,1865,1929,1911,1940,23,Arthur Harden,UK,Male,75,64,46,41,18
24,Chemistry,1881,1930,1929,1945,27,Hans Fischer,Germany,Male,64,49,48,22,1
25,Chemistry,1884,1931,1912,1949,23,Friedrich Bergius,Germany,Male,65,47,28,24,19
26,Chemistry,1874,1931,1910,1940,24,Carl Bosch,Germany,Male,66,57,36,33,21
27,Chemistry,1881,1932,1916,1957,25,Irving Langmuir,USA,Male,76,51,35,26,16
28,Chemistry,1893,1934,1931,1981,30,Harold C. Urey,USA,Male,88,41,38,11,3
29,Chemistry,1900,1935,1934,1958,30,Frederic Joliot,France,Male,58,35,34,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
471,Physics,1948,1997,1988,NaN,28,William D. Phillips,USA,Male,NaN,49,40,21,9
472,Physics,1950,1998,1983,NaN,29,Robert B. Laughlin,USA,Male,NaN,48,33,19,15
473,Physics,1949,1998,1982,NaN,28,Horst L. Stormer,Germany,Male,NaN,49,33,21,16
474,Physics,1939,1998,1982,NaN,28,Daniel C. Tsui,USA,Male,NaN,59,43,31,16
475,Physics,1946,1999,1970,NaN,26,Gerardus 't Hooft,Netherlands,Male,NaN,53,24,27,29
476,Physics,1931,1999,1970,NaN,32,Martinus J.G. Veltman,Netherlands,Male,NaN,68,39,36,29
477,Physics,1930,2000,1966,NaN,22,Zhores I. Alferov,Russia,Male,NaN,70,36,48,34
478,Physics,1923,2000,1958,NaN,35,Jack S. Kilby,USA,Male,NaN,77,35,42,42
479,Physics,1928,2000,1960,NaN,24,Herbert Kroemer,Germany,Male,NaN,72,32,48,40
480,Physics,1961,2001,1995,NaN,29,Eric A. Cornell,USA,Male,NaN,40,34,11,6
481,Physics,1957,2001,1995,NaN,29,Wolfgang Ketterle,Germany,Male,NaN,44,38,15,6
482,Physics,1951,2001,1995,NaN,26,Carl E. Wieman,USA,Male,NaN,50,44,24,6
483,Physics,1931,2002,1969,NaN,23,Riccardo Giacconi,USA,Male,NaN,71,38,48,33
484,Physics,1926,2002,1987,NaN,29,Masatoshi Koshiba,Japan,Male,NaN,76,61,47,15
485,Physics,1928,2003,1957,NaN,23,Alexei A. Abrikosov,"USA, Russia",Male,NaN,75,29,52,46
486,Physics,1916,2003,1950,NaN,26,Vitaly L. Ginzburg,Russia,Male,NaN,87,34,61,53
487,Physics,1938,2003,1972,NaN,26,Anthony J. Leggett,"UK, USA",Male,NaN,65,34,39,31
488,Physics,1941,2004,1973,NaN,25,David J. Gross,USA,Male,NaN,63,32,38,31
489,Physics,1949,2004,1973,NaN,25,H. David Politzer,USA,Male,NaN,55,24,30,31
490,Physics,1951,2004,1973,NaN,23,Frank Wilczek,USA,Male,NaN,53,22,30,31
491,Physics,1925,2005,1963,NaN,24,Roy J. Glauber,USA,Male,NaN,80,38,56,42
492,Physics,1934,2005,2000,NaN,27,John L. Hall,USA,Male,NaN,71,66,44,5
493,Physics,1941,2005,1999,NaN,28,Theodor W. Hansch,Germany,Male,NaN,64,58,36,6
494,Physics,1946,2006,1990,NaN,28,John C. Mather,USA,Male,NaN,60,44,32,16
495,Physics,1945,2006,1992,NaN,25,George F. Smoot,USA,Male,NaN,61,47,36,14
496,Physics,1938,2007,1988,NaN,32,Albert Fert,France,Male,NaN,69,50,37,19
497,Physics,1939,2007,1988,NaN,30,Peter Grunberg,Germany,Male,NaN,68,49,38,19
498,Physics,1944,2008,1972,NaN,28,Makoto Kobayashi,Japan,Male,NaN,64,28,36,36
499,Physics,1940,2008,1972,NaN,27,Toshihide Maskawa,Japan,Male,NaN,68,32,41,36
500,Physics,1921,2008,1960,NaN,31,Yoichiro Nambu,USA,Male,NaN,87,39,56,48

- Fundamentals of grouping 
  - group operations
  - hierachal indexing
  
  
  
### Stats

- Mean (and why it's misleading)
- Median (and why it's misleading) 
- Quantile
- Histogram

- Standard deviation
- Correlation

### Statistical tests

- What is the issue with just comparing the numbers?
- What a statistical significance test isn't
- p and $\alpha$
- Power calculation (optional)
- Significance testing by simulation

In [2]:
police = pd.read_csv("police_killings.csv")

In [47]:
police.cause.value_counts()

Gunshot              411
Taser                 27
Death in custody      14
Struck by vehicle     12
Unknown                3
dtype: int64

In [41]:
police.groupby('raceethnicity')['name'].count()

raceethnicity
Asian/Pacific Islander     10
Black                     135
Hispanic/Latino            67
Native American             4
Unknown                    15
White                     236
Name: name, dtype: int64

In [7]:
france = pd.read_csv("CausesOfDeath_France_2001-2008.csv")

In [8]:
france

,TIME,GEO,UNIT,SEX,AGE,ICD10,Value,Flag and Footnotes
0,2001,France,Number,Males,Total,All causes of death (A00-Y89) excluding S00-T98,277 858,NaN
1,2001,France,Number,Males,Total,Certain infectious and parasitic diseases (A00...,5 347,NaN
2,2001,France,Number,Males,Total,Tuberculosis,545,NaN
3,2001,France,Number,Males,Total,Meningococcal infection,30,NaN
4,2001,France,Number,Males,Total,Viral hepatitis,471,NaN
5,2001,France,Number,Males,Total,Human immunodeficiency virus [HIV] disease,892,NaN
6,2001,France,Number,Males,Total,Neoplasms,91 737,NaN
7,2001,France,Number,Males,Total,Malignant neoplasms (C00-C97),88 481,NaN
8,2001,France,Number,Males,Total,"Malignant neoplasm of lip, oral cavity, pharynx",3 755,NaN
9,2001,France,Number,Males,Total,Malignant neoplasm of oesophagus,3 442,NaN
10,2001,France,Number,Males,Total,Malignant neoplasm of stomach,3 213,NaN
11,2001,France,Number,Males,Total,Malignant neoplasm of colon,6 274,NaN
12,2001,France,Number,Males,Total,"Malignant neoplasm of rectosigmoid junction, r...",2 242,NaN
13,2001,France,Number,Males,Total,Malignant neoplasm of liver and intrahepatic b...,5 258,NaN
14,2001,France,Number,Males,Total,Malignant neoplasm of pancreas,3 788,NaN
15,2001,France,Number,Males,Total,"Malignant neoplasm of larynx, trachea, bronch...",22 457,NaN
16,2001,France,Number,Males,Total,Malignant melanoma of skin,761,NaN
17,2001,France,Number,Males,Total,Malignant neoplasm of breast,177,NaN
18,2001,France,Number,Males,Total,Malignant neoplasm of cervix uteri,:,NaN
19,2001,France,Number,Males,Total,Malignant neoplasm of other parts of uterus,:,NaN
20,2001,France,Number,Males,Total,Malignant neoplasm of ovary,:,NaN
21,2001,France,Number,Males,Total,Malignant neoplasm of prostate,9 327,NaN
22,2001,France,Number,Males,Total,"Malignant neoplasm of kidney, except renal pelvis",1 937,NaN
23,2001,France,Number,Males,Total,Malignant neoplasm of bladder,3 231,NaN
24,2001,France,Number,Males,Total,"Malignant neoplasms, stated or presumed to be ...",6 863,NaN
25,2001,France,Number,Males,Total,Diseases of the blood and blood-forming organs...,1 000,NaN
26,2001,France,Number,Males,Total,"Endocrine, nutritional and metabolic diseases ...",8 356,NaN
27,2001,France,Number,Males,Total,Diabetes mellitus,5 318,NaN
28,2001,France,Number,Males,Total,Mental and behavioural disorders (F00-F99),7 468,NaN
29,2001,France,Number,Males,Total,Mental and behavioural disorders due to use of...,2 523,NaN
...,...,...,...,...,...,...,...,...
1026,2008,France,Number,Females,Total,Cerebrovascular diseases,19 211,NaN
1027,2008,France,Number,Females,Total,Diseases of the respiratory system (J00-J99),15 743,NaN
1028,2008,France,Number,Females,Total,Influenza,124,NaN
1029,2008,France,Number,Females,Total,Pneumonia,5 701,NaN
1030,2008,France,Number,Females,Total,Chronic lower respiratory diseases,3 483,NaN
1031,2008,France,Number,Females,Total,Asthma and status asthmaticus,613,NaN
1032,2008,France,Number,Females,Total,Diseases of the digestive system (K00-K93),11 049,NaN
1033,2008,France,Number,Females,Total,"Ulcer of stomach, duodenum and jejunum",448,NaN
1034,2008,France,Number,Females,Total,Chronic liver disease,2 234,NaN
1035,2008,France,Number,Females,Total,Diseases of the skin and subcutaneous tissue (...,1 124,NaN
1036,2008,France,Number,Females,Total,Diseases of the musculoskeletal system and con...,2 399,NaN
1037,2008,France,Number,Females,Total,"Rheumatoid arthritis and arthrosis (M05-M06,M1...",505,NaN
1038,2008,France,Number,Females,Total,Diseases of the genitourinary system (N00-N99),4 676,NaN
1039,2008,France,Number,Females,Total,Diseases of kidney and ureter,3 606,NaN
1040,2008,France,Number,Females,Total,"Pregnancy, childbirth and the puerperium (O00-...",64,NaN
1041,2008,France,Number,Females,Total,Certain conditions originating in the perinata...,695,NaN
1042,2008,France,Number,Females,Total,"Congenital malformations, deformations and chr...",740,NaN
1043,2008,France,Number,Females,Total,Congenital malformations of the nervous system,59,NaN
1044,2008,France,Number,Females,Total,Congenital malformations of the circulatory sy...,261,NaN
1045,2008,France,Number,Females,Total,"Symptoms, signs and abnormal clinical and labo...",20 789,NaN
1046,2008,France,Number,Females,Total,Sudden infant death syndrome,109,NaN
1047,2008,France,Number,Females,Total,Ill-defined and unknown causes of mortality,6 305,NaN
1048,2008,France,Number,Females,Total,External causes of morbidity and mortality (V0...,14 861,NaN
1049,2008,France,Number,Females,Total,Accidents,11 051,NaN
1050,2008,France,Number,Females,Total,Transport accidents (V01-V99),1 045,NaN
1051,2008,France,Number,Females,Total,Falls,2 815,NaN
1052,2008,France,Number,Females,Total,Accidental poisoning by and exposure to noxiou...,630,NaN
1053,2008,France,Number,Females,Total,Intentional self-harm,2 768,NaN
1054,2008,France,Number,Females,Total,Assault,166,NaN
1055,2008,France,Number,Females,Total,Event of undetermined intent,68,NaN